@model InventoryWebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutUnauthenticated.cshtml";
}
<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>
    <div class="auth-fluid">
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">
                    <div class="auth-brand text-center text-lg-left">
                        <a href="index.html" class="logo-dark">
                            <span><img src="/Content/assets/images/BBLogo.jpg" alt="" height="40"></span>
                        </a>
                        <a href="index.html" class="logo-light">
                            <span><img src="/Content/assets/images/BBLogo.jpg" alt="" height="40"></span>
                        </a>
                    </div>

                    <h4 class="mt-0">Forgot your password?</h4>
                    <p class="text-muted mb-4">Enter your email address to reset your password.</p>

                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
                        </div><br />

                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-textbox-password"></i> Reset Password </button>
                            <button class="btn btn-primary btn-block" type="button" onclick="backToLogin()"><i class="mdi mdi-login"></i> Back to Login </button>


                        </div>
                    }

                    <footer class="footer footer-alt">
                        <p class="text-muted">  © Brampton Brick 2020</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function backToLogin() {
        window.location.href = "Login";
        return false;

    }
</script>
