@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_LayoutUnauthenticated.cshtml";
}

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <!-- Logo -->
                    <div class="auth-brand text-center text-lg-left">
                        <a href="index.html" class="logo-dark">
                            <span><img src="~/Content/assets/images/BBLogo.jpg" alt="" height="40"></span>
                        </a>
                        <a href="index.html" class="logo-light">
                            <span><img src="~/Content/assets/images/BBLogo.jpg" alt="" height="40"></span>
                        </a>
                    </div>

                    <!-- email send icon with text-->
                    <div class="text-center m-auto">
                        <img src="/Content/assets/images/mail_sent.svg" alt="mail sent image" height="64" />
                        <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Your password has been reset.</h4>
                        <p class="text-muted mb-4">
                           
                        </p>
                    </div>



                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary btn-block" type="submit" onclick="loginUser()"><i class="mdi mdi-home mr-1"></i> Back to Login </button>
                    </div>



                    <footer class="footer footer-alt">
                        <p class="text-muted">  © Brampton Brick 2020</p>
                    </footer>

                </div> <!-- end .card-body -->
            </div> <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

    </div>


</body>

<script type="text/javascript">
    function loginUser() {
        window.location.href = "Login";
        return false;

    }
</script>